SHEET_FOLDER="/dir-to-folder/"
STATUS_REPORT='supervisor1@company.com|supervisor2@company.com'
FACTORY='employee1@company.com|employee2@company.com'
DEALERS='Bills Carpet|Taft Plumbing'
BILLS_CARPT='supervisor@billscarpt.com|employye@billscarpt.com'
TAFT_PLUMBING='taft@taftplumbing.com'
MAIL_FROM=admin@website.com
MAIL_TO="User 1 <user1@website.com>, User 2 <user2@website.com>"
MAIL_SERVER=smtp.example.com
MAIL_PORT=587
MAIL_TLS=1
MAIL_LOGIN=smtp@example.com
MAIL_PASSWORD=password
