altgraph==0.17
bgtunnel==0.4.1
click==8.0.1
emailer @ git+https://github.com/northriverboats/emailer.git
mysqlclient==2.1.0
pkg_resources==0.0.0
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.2
python-dotenv==0.19.0
